# environments
.env
.env.*
!.env.example
.venv
.venv.*
!.venv.example

.vscode
.vscode.*
.vscode/*

.DS_Store

# master datasets
datasets

# inputs and outputs files and folders
inputs
outputs
reports
image*.jpg

# others
main.py
requirements.txt

# byte-compiled / optimized / DLL files
__pycache__

# playground files
__playground